body {
    margin: 150px auto;
    padding: 0;
    background-image: url('S__3268661.jpg'); /* 背景設置為圖片 */
    background-size: 105%; /* 將背景拉伸至滿版 */
    background-position: center;
    font-family: Arial, sans-serif; /* 設置字體 */
}

.container {
    max-width: 850px;
    height: 320px; /* 增加容器的高度 */
    margin: 0 auto;
    padding: 40px;

    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0); /* 設置容器背景色，以區分內容 */
    position: relative; /* 添加相對定位，使得添加的虛線能夠相對於容器定位 */
}

.container h2 {
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px; /* 設置圖片寬度 */
    height: 100px; /* 設置圖片高度 */
    text-indent: -9999px; /* 將標題文字隱藏 */
    margin: 0 auto 20px ; /* 調整標題與內容之間的間距 */
}

.form-group {
    margin-bottom: 50px;
    position: relative; /* 設置相對定位 */
}

label {
    display: block;
    margin-bottom: 10px;
    width: 50%; /* 設置 label 的寬度為容器的一半 */

}

input[type="text"] {
    width: calc(47% - 29px); /* 調整 input 的寬度 */
    height: 40px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: -1px; /* 設置 input 上方的垂直間距 */
}

input[type="password"] {
    width: calc(47% - 29px); /* 調整 input 的寬度 */
    height: 40px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: -100px; /* 設置 input 上方的垂直間距 */
    margin-bottom: -100px; /* 設置 input 元素之間的垂直間距 */
}



button {
    width: calc(49% - 29px);
    padding: 13px 165px;
    background-color: #97000f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
